{% load compress %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="X-Clacks-Overhead" content="GNU John Pinner">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{{ title }}</title>

        <link href="/static/css/style.css" rel="stylesheet" type="text/css" />

        <script src="https://use.typekit.net/kla0hed.js"></script>
        <!--[if lt IE 9]>
        <script src="/js/modernizr.js"></script>
        <![endif]-->

        {% if tito_required %}
        <link rel="stylesheet" type="text/css" href='/static/css/tito-v1.css' />
        <script src='https://js.tito.io/v1' async></script>

        <!-- Quick fix for CSS leak -->
        <style>
            .tito-ticket-quantity-field {
                font-size: 14px !important;
                padding: 6px 12px !important;
            }
        </style>
        {% endif %}
    </head>

    <body class="home">
        <nav class="masthead noprint">
            <label id="toggle" for="menu-toggle"></label>
            <input type="checkbox" id="menu-toggle" name="menu-toggle" />
            <ul>
                <li><a href="/programme/">Programme</a></li>
                <li><a href="/news/">News</a></li>
                <li><a href="/cfp/">Proposals</a></li>
                <li><a href="/sponsorship/">Sponsor</a></li>
                <li><a href="/venue/">Venue</a></li>
                <li><a href="/code-of-conduct/">Conduct</a></li>
                <li><a href="/contact/">Contact</a></li>
                <li><a class="cta" href="/tickets/">Tickets</a></li>
        </nav>
        <header class="head noprint">
            <h1><a href="/"><span>PYCON UK</span></a></h1>
        </header>

        {% block content %}{% endblock %}

        <footer class="foot noPrint">
            <div class="company-information">
                <ul class="social-icons">
                    <li>
                        <a href="https://twitter.com/PyConUK" class="twitter"></a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/channel/UChA9XP_feY1-1oSy2L7acog" class="youtube"></a>
                    </li>
                </ul>
                <div class="foot-nav pull-right">
                    <ul>
                        <li><a href="https://www.blanc.ltd.uk/">Design by Blanc</a></li>
                    </ul>
                </div>
                <div class="legal pull-left">
                    <p>&copy; 2016 PyCon UK Society Ltd. All rights reserved.</p>
                </div>
            </div>
			<div id="company_details" itemscope itemtype="http://schema.org/Organization">
				<div itemprop="name">PyCon UK Society Ltd.</div>
				Company Number: <a href="http://data.companieshouse.gov.uk/doc/company/10073469">10073469</a>
				<address itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
					<div itemprop="streetAddress">
						c/o Acconomy, Arena Business Centre, Holyrood Close
					</div>
					<div itemprop="addressLocality">
						Poole
					</div>
					<div itemprop="postalCode">
						BH17 7FJ
					</div>
					<div itemprop="addressCountry">
						United Kingdom
					</div>
				</address>
			</div>
        </footer>

        <!-- this is a hack to persuade django-amber to build pages that aren't linked to from anywhere else -->
        <div display="hidden">
          <a href="/unlinked-pages/"></a>
        </div>
    </body>

    <!-- Python Powered! -->
<script>
try {
  Typekit.load({
    async: true
  });
} catch (e) {}
</script>
<script
  src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
  integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc="
  crossorigin="anonymous"></script>
<script>
  $('.cta').mouseenter(function() {
    $('.jumbotron').addClass('hover');
  });
  $('.cta').mouseleave(function() {
    $('.jumbotron').removeClass('hover');
  })
</script>
</html>
