{% extends "base.html" %}

{% load markdown_deux_tags %}

{% block content %}
<div class="jumbotron">
  <div id="glitter_column_billboard_top">
    <div class="glitter_page_blocktype_poster glitter_page_block_first glitter_page_block glitter_page_block_odd glitter_page_block_last">
      <div class="image-holder">
        <img src="/static/img/home.png" class="bg-img">
      </div>
      <div class="poster-callout">
      </div>
    </div>
  </div>
</div>

<article class="main-article">
  <div class="content">
    <div class="column_content">
      <div class="textblock">
        {% for news_item in news_items %}
        <div class="news-article">
          <div class="column_content">
            <h2>{{ news_item.title }}</h2>

            <a href="{% url "news_item" news_item.date|date:"Ymd" news_item.key %}">{{ news_item.date|date }}</a>
            <div class="textblock">
              {% if news_item.content_format == 'md' %}
              {{ news_item.content|markdown }}
              {% else %}
              {{ news_item.content|safe }}
              {% endif %}
            </div>

            <hr />
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</article>
{% endblock %}
