{% extends "base.html" %}

{% load markdown_deux_tags %}

{% block content %}
<div class="jumbotron">
  <div id="glitter_column_billboard_top">
    <div class="glitter_page_blocktype_poster glitter_page_block_first glitter_page_block glitter_page_block_odd glitter_page_block_last">
      <div class="image-holder">
        <img src="/static/img/home.png" class="bg-img">
      </div>
      <div class="poster-callout">
      </div>
    </div>
  </div>
</div>

<article class="main-article">
  <div class="content">
    <div class="column_content">
      <h1>{{ title }}</h1>

      {{ news_item.date|date }}

      <div class="textblock">
        {% if content_format == 'md' %}
        {{ content|markdown }}
        {% else %}
        {{ content|safe }}
        {% endif %}
      </div>
    </div>
  </div>
</article>
{% endblock %}
