{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
  <div id="glitter_column_billboard_top">
    <div class="glitter_page_blocktype_poster glitter_page_block_first glitter_page_block glitter_page_block_odd glitter_page_block_last">
      <div class="image-holder">
        <img src="/img/home.png" class="bg-img">
      </div>
      <div class="poster-callout">
      </div>
    </div>
  </div>
</div>

<article class="main-article">
  <div class="content">
    <div class="column_content">
      <h1>{{ page.title }}</h1>

      {{ page.humandate }}

      <div class="textblock">
        {{ page.content }}
      </div>
    </div>
  </div>
</article>
{% endblock %}
