{% extends "base.html" %}

{% load markdown_deux_tags %}

{% block content %}
<div class="header red">
  <div class="callout">
    <h1>{{ title }}</h1>
  </div>
</div>

<article class="main-article">
  <div class="content">
    <div class="column_content">
      <h1>{{ title }}</h1>

      {{ news_item.date|date }}

      <div class="textblock">
        {% if content_format == 'md' %}
        {{ content|markdown }}
        {% else %}
        {{ content|safe }}
        {% endif %}
      </div>
    </div>
  </div>
</article>
{% endblock %}
