{% extends "base.html" %}

{% load markdown_deux_tags %}

{% block content %}
<div class="jumbotron">
  <div class="callout">
    <h1>PyCon UK is your community-led <br />volunteer-run conference</h1>
    <h4>Thursday 26th to Monday 30th October 2017<br />Cardiff City Hall</h4>
    <a class="cta" href="#">Register now</a>
  </div>
  <div class="image-holder">
    <img src="/static/img/city_hall.png" class="bg-img">
    <img src="/static/img/python.svg" class="flying-python 1" />
    <div class="pyconuk">
      <div class="circle">
        <div class="python blue slueth right">
          <div class="deerstalker"></div>
          <div class="eye"></div>
          <div class="moustache"></div>
        </div>
        <div class="python yellow queen right">
          <div class="eye"></div>
          <div class="crown">
            <img src="/static/img/crown.svg" />
          </div>
        </div>
        <div class="python red swot">
          <div class="eye"></div>
          <div class="glasses"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<article class="main-article">
  <div class="content">
    <div class="column_content">
      <div class="textblock">
        {% if content_format == 'md' %}
        {{ content|markdown }}
        {% else %}
        {{ content|safe }}
        {% endif %}
      </div>

      <hr />

      {% if show_sponsors %}
      <div class="sponsors-list">
        <h3>The conference wouldn't happen without the support of our sponsors:</h3>
        <table>
          {% for row in sponsor_table %}
          <tr>
            {% for sponsor in row %}
            <td colspan="{% if row|length == 1 %}2{% else %}1{% endif %}" class="{% if row|length == 1 %}wide-logo{% else %}logo{% endif %}">
              <a href="{% if sponsor.content %}/sponsors/{{ sponsor.key }}/{% else %}#{% endif %}">
                <img src="/static/img/logos/{{ sponsor.logo_filename }}" />
              </a>
            </td>
            {% endfor %}
          </tr>
          {% endfor %}
        </table>
      </div>
      {% endif %}
    </div>
  </div>
</article>
{% endblock %}
