{% extends "base.html" %}

{% load markdown_deux_tags %}

{% block content %}
<div class="jumbotron">
  <div class="callout">
    <h1>PyCon UK is your community-led <br />volunteer-run conference</h1>
    <h4>Thursday 26th to Monday 30th October 2017<br />Cardiff City Hall</h4>
    <a class="cta" href="#">Register now</a>
  </div>
  <div class="image-holder">
    <img src="/static/img/city_hall.png" class="bg-img">
    <img src="/static/img/python.svg" class="flying-python 1" />
    <div class="pyconuk">
      <div class="circle">
        <div class="python blue slueth right">
          <div class="deerstalker"></div>
          <div class="eye"></div>
          <div class="moustache"></div>
        </div>
        <div class="python yellow queen right">
          <div class="eye"></div>
          <div class="crown">
            <img src="/static/img/crown.svg" />
          </div>
        </div>
        <div class="python red swot">
          <div class="eye"></div>
          <div class="glasses"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<article class="main-article">
  <div class="content">
    <div class="column_content">
      <div class="textblock">
        {% if content_format == 'md' %}
        {{ content|markdown }}
        {% else %}
        {{ content|safe }}
        {% endif %}
      </div>

      <hr />

    </div>
  </div>
</article>

{% if show_sponsors %}
<article class="main-article sponsors">
  <h1>Sponsors</h1>
  <section>
    {% for sponsor in sponsors %}
    <div style="width:{{ sponsor.logo_css.scaled_width }}px;flex-grow:{{ sponsor.logo_css.scaled_width }}">
        <i style="padding-bottom:{{ sponsor.logo_css.padding }}%"></i>
        {% if sponsor.content %}
        <a href="/sponsors/{{ sponsor.key }}/">
        {% endif %}
        <img src="/static/img/logos/{{ sponsor.logo_filename }}" alt="{{ sponsor.name }}">
        {% if sponsor.content %}
        </a>
        {% endif %}
    </div>
    {% endfor %}
  </section>
</article>
{% endif %}

{% endblock %}
