{% extends "base.html" %}

{% load markdown_deux_tags %}

{% block content %}
<div class="jumbotron">
  <div id="glitter_column_billboard_top">
    <div class="glitter_page_blocktype_poster glitter_page_block_first glitter_page_block glitter_page_block_odd glitter_page_block_last">
      <div class="image-holder">
        <img src="/static/img/home.png" class="bg-img">
      </div>
      <div class="poster-callout">
        <h1>{{ callout_big_1 }}</h1>
        {% if callout_big_2 %}
        <br/><h1>{{ callout_big_2 }}</h1>
        {% endif %}
        {% if callout_small %}
        <br/><h4>{{ callout_small }}</h4>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<article class="main-article">
  <div class="content">
    <div class="column_content">
      <div class="textblock">
        {% if content_format == 'md' %}
        {{ content|markdown }}
        {% else %}
        {{ content|safe }}
        {% endif %}
      </div>

      <hr />

      <div class="sponsors-list">
        <h3>The conference wouldn't happen without the support of our sponsors:<h3>
        <table>
          {% for row in sponsor_table %}
          <tr>
            {% for sponsor in row %}
            <td colspan="{% if row|length == 1 %}2{% else %}1{% endif %}">
              <a href="{% if sponsor.content %}/sponsors/{{ sponsor.key }}/{% else %}#{% endif %}">
                <img src="/static/img/logos/{{ sponsor.logo_filename }}" class="{% if row|length == 1 %}wide-logo{% else %}logo{% endif %}" />
              </a>
            </td>
            {% endfor %}
          </tr>
          {% endfor %}
        </table>
      </div>

    </div>
  </div>
</article>
{% endblock %}
