{% extends "base.html" %}
{% load humanize %}

{% block content %}
<div class="header red">
  <div class="callout">
    <h1>{{ title }}</h1>
  </div>
</div>

<article class="main-article">
    <div id="schedule">
      <table class="six noPrint v-centered">
        <tr>
          <td>Jump&nbsp;to:</td>
          {% for schedule in schedules %}
          <td><a href="#{{ schedule.day }}">{{ schedule.date }}</a></td>
          {% endfor %}
        </tr>
      </table>
      <label for="show-speakers" class="noPrint">Show Speakers:</label>
      <input id="show-speakers" class="noPrint" type="checkbox">
      {% for schedule in schedules %}
      <div id="{{ schedule.day }}" class="pageBreak">
        <h1>{{ schedule.date }}</h1>
        <table class="{{ schedule.rooms|length|add:1|apnumber }}">
          <tr>
            <th></th>
            {% for room in schedule.rooms %}
            <th>{{ room }}</th>
            {% endfor %}
          </tr>
          {% for row in schedule.table %}
          <tr>
            <td>{{ row.0.value }}</td>
            {% for cell in row|slice:"1:" %}
            {% if cell.value %}
            <td colspan="{{ cell.width }}" rowspan="{{ cell.height }}"
                {% if cell.value.text in 'Registration Introduction Break Lunch Close'|slice:' ' %}
                class="section"
                {% endif %}
                >
              {% if cell.value.url %}
              <a href="{{ cell.value.url }}">{{ cell.value.text }}</a>
              {% else %}
              {{ cell.value.text|safe }}
              {% endif %}
              {% if cell.value.speaker %}
              <small class="speaker">{{ cell.value.speaker }}</small>
              {% endif %}
            </td>
            {% else %}
            <td class="empty-cell"></td>
            {% endif %}
            {% endfor %}
          </tr>
          {% endfor %}
        </table>
      </div>
      {% endfor %}
    </div>
</article>
{% endblock %}
