{% extends "base.html" %}

{% load markdown_deux_tags %}

{% block content %}
<article class="main-article">
  <div class="content">
    <div class="column_content">
      <h1>{{ title }}</h1>

      <p><a href="{% url 'speaker' speaker.key %}">{{ speaker.name }}</a> | {{ day }} {{ time }} | {{ room }}</p>

      <div class="textblock">
        {% if content_format == 'md' %}
        {{ content|markdown }}
        {% else %}
        {{ content|safe }}
        {% endif %}
      </div>

      {% if video or slides %}
        <p>
        {% if video %}<a href="{{ video }}">Link to video</a>{% endif %}
        {% if video and slides %}|{% endif %}
        {% if slides %}<a href="{{ slides }}">Link to slides</a>{% endif %}
        </p>
      {% endif %}
      
    </div>
  </div>
</article>
{% endblock %}
